/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1400px) {
	.menu li {
		margin-right: 47px;
	}
	.item-billbord__image {
		height: 460px;
	}
	.item-billbord__title {
		font-size: 58px;
		max-width: 725px;
	}
	.item-billbord__title img {
		max-width: 300px;
	}
	.item-billbord__content {
		padding: 47px 50px;
	}
	.item-billbord__descr {
		font-size: 41px;
	}
	.item-offer__title {
		font-size: 11px;
		line-height: 17px;
	}
	.footer__bottom .row > div:nth-child(1) {
		flex: 1.2;
	}
	.row_catalog {
   margin: 0 -15px;
 }
 .row_catalog > div {
   padding: 0 15px;
 }
 .slider-billbord .slick-prev {
   left: 7px;
 }  
 .slider-billbord .slick-next {
   right: 7px;
 }
 .descr-big {
  font-size: 26px;
  line-height: 37px;
}
.item-card__name {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 13px;
}
.item-card__image {
  height: 275px;
  margin-bottom: 17px;
}
.item-card {
 margin-bottom: 45px;
}
.row_personal > div {
 padding: 0 15px;
}
.row_personal {
  margin: 0 -15px;
}
.item-personal {
  margin-bottom: 30px;
}
.personal {
  padding-bottom: 30px;
}
.sidebar-catalog {
  padding: 15px 16px;
  padding-bottom: 20px;
  max-width: 230px;
}
.row_catalog .item-porduct__title {
  font-size: 14px;
  height: 59px;
  line-height: 20px;
}
.item-porduct__price  {
  font-size: 16px;
}
.price-old {
  font-size: 14px;
  line-height: 23px;
}
.item-porduct {
  padding: 15px 15px;
}
.wrap-for {
  margin-left: 0;
}
.slider-nav__item {
  width: 94px;
  height: 94px;
}
.slider-for__item {
  height: 405px;
}
.tabs-card {
  font-size: 13px;
}
.table-basket td:nth-child(2) {
  width: 42%;
}
.step-ordering .table-basket td:nth-child(2) {
  width: 58%;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu li {
		margin-right: 24px;
	}
	.link-header {
		margin-right: 10px;
	}
	.header__wrap .btn-page {
		margin-right: 15px;
	}
	.form-search {
		margin: 0 15px;
	}
	.item-billbord__descr {
		font-size: 36px;
		max-width: 427px;
	}
	.item-billbord__image {
		height: 425px;
	}
	.row_categories > div {
		padding: 0 15px;
	}
	.row_categories {
		margin: 0 -15px;
	}
	.item-category {
		height: 520px;
	}
	.col_categories .item-category {
		margin-bottom: 30px;
		height: 245px;
	}
	.row_collections .row > div, .row_collections > div {
		padding: 0 15px;
	}
	.row_collections .row, .row_collections {
		margin: 0 -15px;
	}
	.item-collection__image {
		height: 235px;
	}
	.item-collection {
		margin-bottom: 30px;
	}
	.item-collection__title {
		width: 200px;
		height: 73px;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 19px;
		font-size: 17px;
	}
	.item-collection_2 .item-collection__title {
		width: 170px;
		height: 95px;
	}
	.item-collection_3 .item-collection__title {
		width: 198px;
		height: 98px;
	}
	.item-collection_4 .item-collection__title {
		width: 197px;
		height: 92px;
	}
	.item-collection_5 .item-collection__title {
		font-size: 29px;
		padding-top: 33px;
		width: 287px;
		height: 135px;
	}
	.item-collection_5 .item-collection__image {
    height: 500px;
  }
  .collections {
   padding-bottom: 40px;
 }
 .about-block {
  padding: 31px 25px;
  padding-top: 120px;
  line-height: 23px;
  font-size: 14px;
}
.about__image {
  height: 350px;
}
.footer__bottom {
	font-size: 12px;
}
.row_footer > div:nth-child(4) {
  flex: 1;
}
.item-category__content {
  top: 150px;
  left: 18px;
}
.item-category__content li {
  margin-bottom: 20px;
}
.item-category__content li a {
  font-size: 16px;
}
.error-page img {
 max-width: 760px;
}
.title-big {
  font-size: 55px;
}
.descr-big {
  font-size: 22px;
  line-height: 31px;
}
.error-page .descr-big {
	margin-bottom: 40px;
}
.error-page {
	padding-top: 20px;
	padding-bottom: 140px;
}
.item-card__image {
  height: 245px;
  margin-bottom: 15px;
}
.item-card__name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 9px;
}
.item-card {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 35px;
}
.order {
  padding-bottom: 90px;
}
.item-personal__title {
  width: 201px;
  height: 82px;
  font-size: 20px;
  line-height: 25px;
  padding: 0 30px;
}
.catalog-wrap {
  margin-left: 0;
}
.table-basket td:nth-child(2) {
  width: 34%;
}
.sidebar-ordering {
  padding: 22px 17px;
  font-size: 14px;
}
.sidebar-ordering__min {
  font-size: 13px;
}
.sidebar-ordering .price-product {
  font-size: 16px;
}
.sidebar-ordering__line {
  margin-bottom: 25px;
}
.sidebar-ordering__bottom {
  padding-top: 19px;
  margin-top: 30px;
  font-size: 16px;
}
.sidebar-ordering  .price-card {
  font-size: 20px;
}
.step-ordering .table-basket td:nth-child(2) {
  width: 50%;
}
.step-ordering .table-basket td {
  padding: 20px 0;
}
.radio-delivery__title {
  font-size: 14px;
  line-height: 21px;
}
.radio-delivery__content {
  padding: 0 15px;
}
.radio-delivery__icon {
  width: 55px;
  height: 55px;
  padding: 5px;
  margin-right: 13px;
}
.title-page {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 20px;
}
.tab-container-page  {
  font-size: 14px;
  line-height: 22px;
}
.tab-container-page p {
  margin-bottom: 15px;
}
.item-question__head {
  font-size: 16px;
  line-height: 22px;
  height: 87px;
  padding: 0 20px;
  padding-right: 70px;
}
.item-question__head strong {
  min-width: 59px;
  font-size: 23px;
  line-height: 24px;
}
.item-question__content {
  padding: 20px;
  padding-top: 0;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body {
		font-size: 14px;
	}
	.header__wrap,
	.menu,
  .header__left {
   display: none;
 }
 .item-billbord__title {
  font-size: 38px;
  max-width: 520px;
}
.item-billbord__title img {
  max-width: 230px;
}
.item-billbord__descr {
  font-size: 27px;
  max-width: 380px;
}
.item-billbord__image {
  height: 360px;
}
.col_categories .item-category,
.item-category {
	margin-bottom: 30px;
	height: 300px;
}
.item-porduct__content {
	display: block;
}
.wrap-item {
	height: initial;
}
.slider-products {
	margin-bottom: 0;
}
.item-porduct__price {
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 7px;
  margin-bottom: 9px;
}
.item-porduct__title {
  line-height: 21px;
  margin-bottom: 10px;
  height: 44px;
}
.products {
	padding-bottom: 25px;
}
.offer-block__title {
  width: 296px;
  height: 137px;
  font-size: 28px;
  padding-top: 34px;
  padding-left: 27px;
  line-height: 33px;
}
.offer-block__image {
  height: 500px;
}
.offer-block__content {
  padding-left: 30px;
  padding-bottom: 30px;
}
.offer-block__content .btn-main {
 margin-top: 25px;
}
.unit-product {
 margin-bottom: 25px;
}
.offers {
 padding-bottom: 25px;
}
.about {
 margin-top: 0;
}
.about .row .col-lg-3 {
 order: 2;
}
.about-block {
 padding: 30px;
 margin-bottom: 25px;
}
.col_pl {
 padding-left: 15px;
}
.col_pr {
 padding-right: 15px;
}
.footer__title {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 10px;
}
.buttons-mobile {
  padding: 10px 0;
  display: flex;
  box-shadow: 0 0 10px #cba1a0;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #cba1a0;
  width: 100%;
}
.btn-mobile {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  position: relative;
}
.btn-mobile__value {
  bottom: 10px;
  left: 12px;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  width: 18px;
  height: 18px;
  background-color: #f7777a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
}
.footer {
  padding-bottom: 50px;
}
.wrapper {
  padding-top: 115px;
}
.header .col_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone-mob {
  font-size: 20px;
  margin-right: 10px;
  margin-left: -50px;
  display: inline-block;
  color: #e3bf8a;
}
.btn_nav {
  display: inline-block;
}
.menu-mobile {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 22;
  padding: 0 15px;
  padding-bottom: 120px;
  overflow: auto;
  background-color: #fff;
  display: none;
}
.form-search {
  margin: 0;
  margin-bottom: 15px;
}
.menu-mobile .menu { 
  margin-bottom: 15px;
  display: block;
}
.menu-mobile .dropdown-city {
  margin: 0;
  margin-bottom: 15px;
}
.menu li {
  margin: 0;
}
.menu li a {
  padding: 15px 0;
  border-bottom: 1px solid #7f7f7f;
  display: block;
}
.catalog-menu__list {
  min-height: initial;
}
.catalog-menu__list > li {
  width: auto;
  padding: 0;
}
.catalog-menu__list > li > a {
  padding: 10px 0;
}
.catalog-menu__list > li:first-child > a {
  margin: 0;
}
.catalog-menu__content {
  position: relative;
  left: 0;
  visibility: visible;
  opacity: 1;
  padding-top: 15px;
  transition: none;
  display: none;
}
.catalog-menu__subimage {
  display: none;
}
.catalog-menu__sublist li {
  margin-bottom: 15px;
} 
.catalog-menu .row_catalog {
  display: none;
}
.catalog-menu {
  padding:0;
  padding-bottom: 100px;
  font-size: 14px;
}
.catalog-menu .title-logo {
  margin-top: 15px;
}
.catalog-menu__icon {
  margin-right: 15px;
}
.catalog-menu__close {
  font-size: 25px;
  color: #7d7d7d;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.item-category__content ul {
  columns: 2;
}
.item-category__content li a {
  font-size: 14px;
}
.item-category__content li {
  margin-bottom: 15px;
  margin-right: 10px;
}
.header.fixed {
  padding-top: 14px;
  transform: none;
}
.error-page img {
	max-width: 100%;
	margin: 0;
}
.error-page .descr-big {
	margin: 0;
	margin-bottom: 30px;
}
.error-page {
	padding-bottom: 50px;
}
.item-card__image {
  height: 300px;
}
.collection .title-middle {
 margin-top: 0;
}
.collection .text-main {
 max-width: 100%;
}
.text-main {
  line-height: 24px;
}
.text-main p {
	margin-bottom: 15px;
}
.collection .offer-block {
	margin-top: 15px;
}
.collection .slider-products {
	padding-bottom: 0;
}
.title-middle {
  font-size: 26px;
  padding-bottom: 15px;
}
.requisites .col-xl-4 {
  line-height: 26px;
}
.requisites .col-xl-4 {
	padding-top: 20px;
}
.requisites__account {
	margin-bottom: 20px;
}
.requisites__wrap {
	margin-top: 30px;
}
.order-info {
  font-size: 16px;
  margin-bottom: 20px;
}
.order-info__title {
  margin-bottom: 10px;
}
.descr-order {
  margin-bottom: 30px;
}
.order {
  padding-bottom: 60px;
}
.title-middle_page {
  margin-bottom: 25px;
}
.sidebar-catalog {
  max-width: 100%;
  padding: 15px 22px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: none;
}
.row_catalog > div {
  margin-bottom: 0;
}
.bottom-catalog {
  margin-top: 0;
  padding-top: 20px;
}
.btn-page_filter {
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}
.col_for {
  order: -1;
}
.slider-nav__item {
  margin: 0 auto;
}
.slider-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}
.bottom-basket .item-form {
  width: 265px;
}
.price-total {
  font-size: 20px;
  min-width: 137px;
  margin-left: 20px;
}
.table-basket table td {
  padding: 0;
  border: none !important;
}
.table-basket .quantity {
  margin: 20px 0;
}
.table-basket table tr {
  padding: 20px 0;
  border-top: 1px solid #e3bf8a;
  position: relative;
}
.table-basket .image-product {
  margin-bottom: 20px;
}
.prices-td {
  margin-top: 15px;
}
.table-basket table tr:last-child {
  border-bottom: 1px solid #e3bf8a;
}
.table-basket table tbody,
.table-basket table td,
.table-basket table tr,
.table-basket table {
  display: block;
}
.table-basket td:nth-child(2) {
  max-width: 100%;
  width: 100%;
}
.remove-basket {
  top: 0;
}
.table-basket .remove-basket {
  top: 20px;
  right: 20px;
  position: absolute;
}
.breadcumbs + .title-section {
  padding-top: 0;
}
.step-ordering .table-basket table tr {
  border: none !important;
}
.step-ordering .table-basket td {
  padding: 0;
}
.step-ordering .table-basket td:nth-child(3) {
  padding: 10px 0;
}
.sidebar-ordering {
  margin-top: 20px;
}
.delivery-image {
  justify-content: flex-start;
}
.tab-container-page {
  padding-top: 25px;
}
.title-page {
  font-size: 19px;
}
.delivery {
  padding-bottom: 60px;
}
.tabs-page a {
  font-size: 16px;
  height: 49px;
  padding: 0 25px;
  margin: 0 7px;
  min-width: 140px;
}
.tabs-page {
  margin: 0 -7px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .item-billbord__title {
    font-size: 28px;
    max-width: 390px;
  }
  .item-billbord__title img {
    max-width: 176px;
  }
  .item-billbord__content {
    padding: 35px 28px;
  }
  .item-billbord__descr {
    font-size: 23px;
    max-width: 320px;
  }
  .item-billbord__image {
    height: 304px;
  }
  .item-category__title {
    width: 249px;
    height: 117px;
    padding-top: 22px;
    padding-left: 17px;
    font-size: 23px;
    line-height: 32px;
  }
  .item-category_2 .item-category__title {
    width: 241px;
    height: 117px;
  }
  .item-category_3 .item-category__title {
    width: 197px;
    height: 76px;
  }
  .col_categories .item-category, .item-category {
    margin-bottom: 25px;
    height: 250px;
  }
  .title-section {
    font-size: 29px;
    padding: 23px 0;
  }
  .slider-products {
   padding-bottom: 20px;
 }
 .unit-product__title {
  margin-bottom: 10px;
}
.unit-product__price {
  font-size: 16px;
}
.item-collection__button {
	opacity: 1;
}
.about__image {
  height: 319px;
}
.about {
	padding-bottom: 40px;
}
.footer__content {
	padding-top: 15px;
	display: none;
}
.footer__title {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__bottom .row > div {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer__bottom .col-lg-3:last-child {
	text-align: center;
}
.footer__bottom {
	border: none;
}
.footer {
	padding-top: 20px;
}
.footer__title i {
  display: inline-block;
  transition: all 0.3s;
}
.footer__title.active i {
  transform: rotate(45deg);
}
.item-category__content {
  top: 118px;
  left: 18px;
}
.item-category_1 {
	height: 370px;
}
.item-category__content ul {
	columns: 1;
}
.item-category__content li {
	margin-bottom: 13px;
	margin-right: 0;
}
.item-category__content {
  top: 114px;
  left: 31px;
}
.row_items > div {
	margin-bottom: 0;
}
.title-big {
  font-size: 43px;
  padding-bottom: 10px;
}
.descr-big {
  font-size: 19px;
  line-height: 29px;
}
.error-page img {
	margin-top: 25px;
}
.item-card__image {
  height: 244px;
}
.collection .slider-products {
	padding-bottom: 20px;
}
.requisites__wrap {
  flex-wrap: wrap;
}
.info-card {
  margin-top: 20px;
}
.bottom-basket {
  display: block;
}
.total-wrap__bottom {
  padding-top: 20px;
  text-align: left;
}
.bottom-basket__right {
  padding-top: 20px;
}
.bottom-basket .item-form {
  width: 400px;
}
.step-ordering__head {
  font-size: 16px;
  padding: 18px 0;
}
.step-ordering__head strong {
  font-size: 21px;
  line-height: 24px;
  min-width: 50px;
}
.radio-delivery {
  margin-bottom: 15px;
}
.radio-delivery__icon {
  width: 69px;
  height: 69px;
  margin-right: 20px;
}
.tabs-page a {
  font-size: 14px;
  height: 49px;
  padding: 0 21px;
  margin: 0 7px;
  min-width: 133px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
  .item-billbord__title {
    font-size: 21px;
    max-width: 280px;
  }
  .item-billbord__title img {
    max-width: 117px;
  }
  .item-billbord__descr {
    font-size: 20px;
    max-width: 315px;
  }
  .item-billbord__content {
    padding: 25px 15px;
  }
  .col_categories .item-category, .item-category {
    margin-bottom: 20px;
    height: 215px;
  }
  .slider-offers .slick-prev {
    left: -5px;
  }
  .slider-offers .slick-next {
    right: -5px;
  }
  .offer-block__content {
   padding: 20px;
 }
 .unit-product__image {
  height: 150px;
}
.unit-product {
 max-width: 100%;
 margin-bottom: 20px;
}
.item-collection_5 .item-collection__image {
  height: 443px;
}
.item-collection_5 .btn-main {
	left: 20px;
	bottom: 25px;
}
.title-logo img {
	max-width: 180px;
}
.about-block {
	padding: 20px;
	padding-top: 0;
}
.about__image {
  height: 235px;
}
.billbord {
	margin-top: 15px;
}
.unit-product {
  line-height: 21px;
}
.offer-block__image img {
 object-position: left;
}
.item-category_1 {
 height: 370px; 
}
.item-category__content {
  top: 114px;
  left: 14px;
}
.item-card__image {
  height: 310px;
}
.page-numbers.next {
	margin-left: 15px;
	margin-right: 0;
}
.page-numbers {
  margin: 0 10px;
}
.title-middle {
  font-size: 21px;
}
.collection {
	padding-bottom: 40px;
}
.requisites {
  line-height: 24px;
  padding-bottom: 40px;
}
.title-min {
  font-size: 16px;
}
.requisites .title-min {
  margin-bottom: 15px;
}
.requisites__wrap {
  margin: 0 -10px;
  justify-content: flex-start;
}
.requisites__item {
  margin: 0 10px;
  margin-top: 10px;
}
.wrap-form {
  margin-top: 0;
}
.capcha {
  width: 145px;
  margin-right: 13px;
}
.bottom-form {
  padding-top: 10px;
}
.checkbox {
  margin-top: 15px;
} 
.authorization {
  padding-bottom: 40px;
}
.order-info {
  font-size: 14px;
  margin-bottom: 17px;
}
.descr-order {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 20px;
}
.title-payment {
  font-size: 13px;
  margin-top: 15px;
}
.order {
  padding-bottom: 40px;
}
.personal {
  padding-bottom: 20px;
}
.catalog-head {
  display: block;
}
.sorting-wrap {
  font-size: 13px;
  margin-top: 15px;
}
.catalog-category {
  margin-bottom: 15px;
  width: 43%;
}
.catalog-category__image {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.row_catalog .item-porduct__title {
  font-size: 16px;
  height: 61px;
  line-height: 24px;
}
.bottom-catalog {
  padding-bottom: 30px;
}
.modal-content {
  padding: 20px 15px
}
.fancybox-close {
  top: 5px;
  right: 5px;
}
.list-cities a {
  padding: 0px 16px;
  min-width: 110px;
  font-size: 12px;
  line-height: 23px;
  margin-right: 8px;
  margin-top: 9px;
}
.modal-content .title-min {
  padding-bottom: 10px;
}
.item-add {
  display: block;
}
.item-add__content {
  padding-top: 15px;
}
.buttons-add .btn-main {
  margin: 0 auto;
  margin-top: 15px;
  min-width: 215px;
}
.buttons-add .btn-main:last-child {
  margin-right: auto;
}
.buttons-add {
  padding-top: 10px;
}
.price-product {
  font-size: 16px;
  line-height: 22px;
  padding-top: 10px;
}
.content-add {
  padding: 19px 0;
}
.title-modal {
  font-size: 18px;
  margin-bottom: 17px;
}
.add-modal {
  padding: 22px 15px;
}
.modal-content .wrap-item {
  max-width: 100%;
}
.slider-for__item {
  height: 310px;
}
.slider-nav__item {
  width: initial;
  margin: 0 5px;
}
.slider-nav {
  margin: 20px -5px;
}
.price-card {
  font-size: 20px;
  line-height: 22px;
}
.old-price {
  margin-left: 28px;
  margin-right: 24px;
}
.prices-card {
  padding-bottom: 12px;
  margin-bottom: 14px;
}
.buttons-card {
  padding-top: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card .item-size {
  margin-right: 10px;
  margin-bottom: 10px;
}
.tabs-card {
  margin: 0 -5px;
  font-size: 14px;
}
.tabs-card li {
  width: 50%;
  padding: 0 5px;
}
.tabs-card li a {
  display: block;
  padding-bottom: 6px;
  text-align: center;
  margin-bottom: 10px;
}
.tab-container-card {
  padding-top: 12px;
}
.tab-container-card {
  font-size: 13px;
}
.size-info__icon {
  width: 50px;
  height: 35px;
  margin-right: 9px;
}
.modal-wrap .title-modal {
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.size-info {
  margin-bottom: 28px;
}
.size-info input {
  width: 44px;
  height: 31px;
}
.modal-wrap {
  line-height: 22px;
  padding: 30px 15px;
}
.product-feature {
  font-size: 13px;
  margin-right: 20px;
}
.price-basket {
  font-size: 16px;
  line-height: 21px;
}
.price-basket span {
  font-size: 12px;
}
.oldprice-basket {
  margin-left: 17px;
  font-size: 13px;
}
.total-title {
  font-size: 16px;
}
.price-total {
  font-size: 18px;
  min-width: initial;
  margin-left: 32px;
}
.promo-wrap .item-checkbox {
  width: 100%;
  margin-bottom: 15px;
}
.status-promo {
  margin-left: 0;
  margin-right: 25px;
  font-size: 13px;
}
.basket {
  padding-bottom: 50px;
}
.step-ordering__content .btn-main {
  margin: 0 10px;
}
.title-page {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 15px;
}
.tabs-page a {
  font-size: 12px;
  height: 44px;
  padding: 0 12px;
  margin: 0 2px;
  min-width: 102px;
}
.item-question__head {
  font-size: 14px;
  line-height: 20px;
  height: 87px;
  padding: 0 13px;
  padding-right: 45px;
}
.item-question__head::after {
  right: 15px;
}
.item-question__content {
  padding: 13px;
}
.item-question__head strong {
  min-width: 48px;
  font-size: 20px;
  line-height: 23px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .footer__content {
   display: block !important;
 }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .btn-page_filter,
  .menu-mobile {
   display: none !important;
 }
 .sidebar-catalog {
  display: block !important;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1400px) {
	.container {
		max-width: 1390px;
	}
}